<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="komunikacia.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:label="Zľavový portáľ"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LoginWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OffersWindow"
            android:label="PONUKY"/>
        <activity
            android:name=".OfferDetailsWindow"
            android:label="DETAIL PONUKY" />
    </application>

</manifest>
